
# the .DS_Store files everywhere
.DS_Store

# the environment configuration
/conf.php

# the media directory
/media

# the content directory
/content

# the download directory
/download

# the Wordpress Debug Log
/cms/wp-content/debug.log

# Cache
/_cache
