
# Disable redirects with trailing slashes when URLs match the directory paths
# DirectorySlash Off




<IfModule mod_rewrite.c>

RewriteEngine On

# Serve from the cache (if present)
	# Home page
RewriteCond %{REQUEST_URI} ^/?$
RewriteCond %{DOCUMENT_ROOT}/_cache/home\.html -f
RewriteRule ^ %{DOCUMENT_ROOT}/_cache/home.html [L]
	# Other pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/_cache%{REQUEST_URI}\.html -f
RewriteRule ^ %{DOCUMENT_ROOT}/_cache%{REQUEST_URI}.html [L]

# Certain *static* pages need to first be augmented with some code
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(content/.*) https://indis.wip.lazaro.in/$1 [NC,QSA,R=302,L]

# Certain *static* pages (in the content folder) need to first be augmented with some code
RewriteRule ^/?(content/virtual-tours/.+/index.htm) server/augment-static-page.php?path=$1&with[]=no-right-click&with[]=3d-vista-hide-context-menu&with[]=3d-vista-resize-handler [NC,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,QSA,L]

</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress