
# Disable redirects with trailing slashes when URLs match the directory paths
# DirectorySlash Off




<IfModule mod_rewrite.c>

RewriteEngine On

# Serve from the cache (if present)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTPS} =on
RewriteRule .* - [E=BFS_HTTPS:s]
RewriteCond %{HTTP_COOKIE} !(comment_author|wp\-postpass|wordpress_logged_in) [NC]
RewriteCond "%{DOCUMENT_ROOT}/cms/wp-content/cache/cache-enabler/%{HTTP_HOST}/%{REQUEST_URI}/http%{ENV:BFS_HTTPS}-index\.html" -f
RewriteRule ^ "%{DOCUMENT_ROOT}/cms/wp-content/cache/cache-enabler/%{HTTP_HOST}/%{REQUEST_URI}/http%{ENV:BFS_HTTPS}-index\.html" [L]

# Certain *static* pages need to first be augmented with some code
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^/?(content/.*) https://indis.wip.lazaro.in/$1 [NC,QSA,R=302,L]

# Certain *static* pages (in the content folder) need to first be augmented with some code
RewriteRule ^/?(content/virtual-tours/.+/index.htm) server/augment-static-page.php?path=$1&with[]=no-right-click&with[]=3d-vista-hide-context-menu&with[]=3d-vista-resize-handler [NC,QSA,L]

# Correct REST API requests (since WordPress is accessible through a nested URL)
RewriteRule ^/?wp\-json(/.*)$ "/cms/?rest_route=$1" [NC,QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,QSA,L]

</IfModule>
