.body.modal-open {
	overflow: hidden;
	width: 100%;
}

.body.modal-open #page-wrapper {
	position: relative;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.body #modal-wrapper {
	position: relative;
}

/* -- Modal Box -- */
.modal-box {
	display: none;
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.modal-box-content {
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 100vh;
	height: auto;
	padding: var(--space-25) 0;
	background-color: rgba(255, 255, 255, 0.85);
}

.modal-box-content.active {
	display: flex;
}

.modal-box .modal-box-content + .modal-close {
	display: inline-block;
    cursor: pointer;
    width: var(--space-75);
    height: var(--space-75);
    position: fixed;
    z-index: 2;
    top: var(--space-25);
    right: calc((100vw - var(--container-width))/2);
    color: inherit;
    font-size: 2.8rem;
    line-height: var(--space-75);
    text-align: center;
    background-color: var(--red-2);
    color: #FFFFFF;
}

.modal-box .modal-close-area {
	display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: calc((100vw - var(--container-width))/2);
}

.modal-box .modal-close-area.left-area {
	left: 0;
}

.modal-box .modal-close-area.right-area {
	right: 0;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.modal-box .modal-box-content + .modal-close {
		width: var(--space-50);
		height: var(--space-50);
		line-height: var(--space-50);
	}
}
@media( min-width: 1480px ) {}