/*
 * Footer Section
 */

.footer-section {}

.footer-section .footer-links .project-links {
	padding-bottom: var(--space-25);
}

.footer-section .footer-links .project-links .link {
	display: block;
	line-height: 1.5;
	margin-top: 4px;
}

.footer-section .footer-address .link {
	padding: 5px 0;
}
.footer-section .footer-address .link .link-icon {
	width: 16px;
	margin-left: 5px;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.footer-section .footer-info {
		padding-top: var(--space-50);
		padding-right: var(--space-50);
	}
}
@media( min-width: 1480px ) {}


@media( min-width: 1480px ) {
	.footer-section .footer-address .link .link-icon {
		width: 20px;
	}
}
