/*
 *	Navigation Section
 */

.navigation-section {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.navigation-section .navigation-toggle-button {
	position: fixed;
	z-index: 10;
	top: var(--space-25);
	left: 0;
	width: 100%;
	height: auto;
}

@media( min-width: 640px )  {
}

@media( max-width: 1039px )  {
	.navigation-section .navigation {
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: rgba(255,255,255,0.85);
		transform: translateX(100%);
		transition: transform .3s ease-out;
	}
	.navigation-section .navigation .link {
		display: inline-block;
		margin-right: var(--space-50);
	}

	.navigation-section .navigation .link:first-child {
		opacity: 0.5;
		margin-top: var(--space-50);
		margin-bottom: var(--space-25);
		line-height: 1;
	}

	.navigation-section .navigation .link.active {
		color: var(--red-2);
	}

	.navigation-section.open .navigation {
		transform: translateX(0);
	}
}

@media( min-width: 1040px ) {
	.navigation-section {
		color: var(--light);
	}

	.navigation-section .navigation {
		margin-top: var(--space-25);
	}

	.navigation-section .navigation .link {
		display: inline-block;
		margin-left: var(--space-25);
	}
}
@media( min-width: 1480px ) {}