/*
 *	Navigation Section
 */

.navigation-section {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.navigation-section .navigation-toggle-button {
	position: fixed;
	z-index: 10;
	top: var(--space-25);
	left: 0;
	width: 100%;
	height: auto;
}

.navigation-section .link {
	display: inline-block;
}

.navigation-section .link .nested-link {
	pointer-events: all;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	border: 0 !important;
}

@media( min-width: 640px )  {
}

@media( max-width: 1039px )  {
	.navigation-section .navigation {
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: rgba(255,255,255,0.85);
		transform: translateX(100%);
		transition: transform .3s ease-out;
	}

	.navigation-section .navigation .link {
		display: inline-block;
		margin-right: var(--space-50);
	}

	.navigation-section .navigation .link:first-child {
		opacity: 0.5;
		margin-top: var(--space-50);
		margin-bottom: var(--space-25);
		line-height: 1;
	}

	.navigation-section .navigation .link.active {
		color: var(--red-2);
	}

	.navigation-section.open .navigation {
		transform: translateX(0);
	}
}

@media( min-width: 1040px ) {
	.navigation-section {
		color: var(--light);
	}

	.navigation-section .navigation {
		margin-top: var(--space-25);
	}

	.navigation-section .navigation .link {
		position: relative;
		display: inline-block;
		margin-left: var(--space-25);
	}

	/* - Sticky Navigation - */
	.navigation-section .navigation-sticky-info {
		display: none;
	}
		
	.navigation-section .navigation-sticky-info .title {
		line-height: 1;
	}

	.navigation-section.sticky .navigation-sticky-info { display: inline-block; }

	.navigation-section.sticky {
		position: fixed;
		padding-top: 0;
		background-color: rgba(255,255,255,0.95);
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2), 0px 2px 6px rgba(0,0,0,0.2);
		color: var(--dark);
	}

	.navigation-section.sticky .navigation {
		margin-top: 0;
	}

	.navigation-section.sticky .navigation .link:after {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		background-color: var(--red-2);
		width: 0%;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		transition: .2s ease-out;
	}
	.navigation-section.sticky .navigation .link.active:after {
		width: 100%;
	}
}
@media( min-width: 1480px ) {}