/*
 * Project Page
 */

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* -- Cover Section -- */

.cover-section .cover-image-container {
	position: relative;
	z-index: 1;
	padding-bottom: var(--space-min);
}

.cover-section .cover-image-container .cover-image {
	position: relative;
	padding-bottom: 80%;
	overflow: hidden;
}
.cover-section .cover-image-container .cover-image img {
	pointer-events: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	transform: translate(-50%, -50%) scale(1.05);
	transition: transform .8s cubic-bezier(0,0,0,1);
}

.cover-section .cover-image-container .cover-image:hover img,
.cover-section .cover-image-container .cover-image:focus img {
	transform: translate(-50%, -50%) scale(1);
}

.cover-section .project-card {
	position: relative;
	z-index: 2;
	width: calc( var(--space-100) * 4 );
	height: calc( var(--space-100) * 4 );
}

.cover-section .project-card .logo {
	width: 75px;
}

.cover-section .cover-image-strip {
	position: relative;
	z-index: 2;
	padding-left: var(--space-min);
}

.cover-section .cover-image-strip .cover-image {
	padding-bottom: 66.66667%;
}

.cover-section .cover-image-container.image-5 .icon-button {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	pointer-events: none;
}

@media( min-width: 640px )  {
	.cover-section .cover-image-container.image-1 .cover-image {
		padding-bottom: 66.66667%;
	}

	.cover-section .cover-image-container.image-5 {
		padding-left: var(--space-min);
	}

	.cover-section .cover-image-container.image-5 .cover-image {
		padding-bottom: 68.97%;
	}
}
@media( min-width: 1040px ) {
	.cover-section .cover-image-container {
		padding-bottom: var(--space-25);
	}

	.cover-section .project-card {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: calc( var(--space-100) * 3 );
		height: calc( var(--space-100) * 3 );
	}

	.cover-section .project-card .logo {
		width: 85px;
	}

	.cover-section .cover-image-strip {
		position: absolute;
		z-index: 2;
		padding-left: 0;
		padding-top: var(--space-25);
		right: 0;
		bottom: calc(var(--space-50) * -1);
		background-color: var(--light)
	}

	.cover-section .cover-image-strip .cover-image-container {
		padding-left: var(--space-25);
	}

	.cover-section .cover-image-container.image-1 {
		position: relative;
		z-index: 1;
		padding-right: var(--space-25);
	}

	.cover-section .cover-image-container.image-1 .cover-image:after {
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: calc( (var(--space-100) * 12) - var(--space-25) );
		height: calc( var(--space-100) * 2 );
		background: linear-gradient( var(--black) 15%, transparent 100%);
		opacity: .65;
	}

	.cover-section .cover-image-container.image-5 {
		position: absolute;
		z-index: 3;
		right: 0;
		bottom: calc(var(--space-50) * -1);
		padding-left: var(--space-25);
		transform: translateY(100%);
	}

	.cover-section .cover-image-container.image-5 .cover-image {
		padding-bottom: 150%;
	}

	.cover-section .cover-image-container.image-5 .icon-button {
		top: 0;
		left: 0;
		right: auto;
	}
}
@media( min-width: 1480px ) {
	.cover-section .project-card {
		width: calc( var(--space-100) * 2.5 );
		height: calc( var(--space-100) * 2.5 );
	}
	.cover-section .project-card .logo {
		width: 120px;
	}
}


/* -- Intro Section -- */

.intro-section {}

.intro-section .project-logo {
	max-width: calc( var(--space-100) * 3 );
	max-height: calc( var(--space-100) * 3 );
}

.intro-section .points .point img {
	width: 32px;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.intro-section .project-logo {
		max-width: calc( var(--space-100) * 2 );
		max-height: calc( var(--space-100) * 2 );
	}
}
@media( min-width: 1480px ) {}



/*
 * Action Callback
 */

.action-callback {}

.action-callback .intro {
	padding-bottom: var(--space-min);
}

.action-callback .action-form {}

.action-callback .action-form .form-row {
	padding-bottom: var(--space-min);
}

.form-row:focus-within span.label { color: var(--red-2); }

.action-callback .action-form .form-row.or-call {
	padding-top: 12px;
}
.action-callback .action-form .form-row.or-call a {
	border-bottom: 1px solid var(--red-2);
}

@media( min-width: 640px )  {
	.action-callback .action-form {}
	.action-callback .action-form .form-row {
		padding-right: var(--space-min);
	}

	.action-callback .action-form .form-row.or-call {
		padding-top: 32px;
	}
}
@media( min-width: 1040px ) {
	.action-callback .action-form {}
	.action-callback .action-form .form-row {
		padding-bottom: var(--space-25);
		padding-right: var(--space-25);
	}

	.action-callback .action-form .form-row.or-call {
		padding-top: 32px;
	}

	.action-callback .action-form .form-row.or-call a {
		border-width: 2px;
	}
}
@media( min-width: 1480px ) {
	.action-callback .action-form {}
	.action-callback .action-form .form-row.or-call {
		padding-top: 45px;
	}
}



/* -- Location Section -- */

.location-section {
	position: relative;
}
.location-section .location-image-container {
	position: relative;
}

.location-section .location-image-container .location-image {
	position: relative;
	z-index: 1;
	padding-bottom: 150%;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

.location-section .location-image-container:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 120px;
	background: linear-gradient( transparent 0%, var(--black) 85%);
	opacity: .65;
}
.location-section .location-image-container .panorama-viewer {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.location-section .location-image-container .panorama-viewer iframe.panorama-embed {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.location-section .location-card {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: calc( var(--space-100) * 4 );
	height: calc( var(--space-100) * 2.1 );
}

.location-card hr.dash {
	width: var(--space-50);
	border-color: var(--red-2);
	border-width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
}
.location-section .location-card .location {
	padding-top: 5px;
	padding-bottom: 10px;
}

.location-section .location-card .link-icon {
	width: 16px;
	margin-left: 5px;
}

.location-section .location-title {
	position: absolute;
	z-index: 3;
	bottom: var(--space-25);
	left: var(--space-25);
	text-shadow: 0 1px 2px var(--dark);
}

@media( min-width: 640px )  {
	.location-section .location-image-container .location-image {
		padding-bottom: 120%;
	}

	.location-section .location-card {
		height: calc( var(--space-100) * 4 );
	}

	.location-section .location-image-container .location-image:after {
		height: 200px;
	}

	.location-section .location-title {
		bottom: calc( var(--space-100) * 2 );
		left: calc( var(--space-100) * 6 );
	}
}
@media( min-width: 1040px ) {
	.location-section .location-image-container .location-image:after {
		height: 400px;
	}

	.location-section .location-card {
		width: calc( var(--space-100) * 3 );
		height: calc( var(--space-100) * 3 );
	}

	.location-card hr.dash {
		width: var(--space-25);
		border-width: 2px;
		height: 2px;
	}

	.location-section .location-image-container {
		padding-right: var(--space-25);
	}
}
@media( min-width: 1480px ) {
	.location-section .location-image-container .location-image:after {
		height: 480px;
	}

	.location-section .location-card {
		width: calc( var(--space-100) * 2.5 );
		height: calc( var(--space-100) * 2.5 );
	}

	.location-section .location-card .link-icon {
		width: 20px;
	}

	.location-section .location-title {
		text-shadow: 0 1.5px 3px var(--dark);
	}
}


/* -- Download Brochure -- */

.download-brochure {
	position: relative;
	z-index: 2;
}
.download-brochure .brochure-mockup {
	position: relative;
	z-index: 3;
}
.download-brochure .brochure-action {
	position: relative;
	z-index: 2;
	padding-bottom: var(--space-100);
}

@media( min-width: 640px )  {
	.download-brochure {
		margin-top: calc( var(--space-100) * -1.5 );
	}

	.download-brochure .brochure-mockup img {
		transform-origin: top center;
		transform: scale(1.2);
	}
	.download-brochure .brochure-action {
		padding: var(--space-100);
	}
}
@media( min-width: 1040px ) {
	.download-brochure .courier-description {
		padding-right: calc( var(--space-100) * 1 );
	}
}
@media( min-width: 1480px ) {}






/*
 *	Engineering Section
 */

.engineering-section {
	counter-reset: point-counter;
}

.engineering-section .points .point {
	position: relative;
	z-index: 1;
	padding-left: var(--space-50);
	counter-increment: point-counter;
}

.engineering-section .points .point:before {
	content: counter(point-counter, lower-roman);
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	color: var(--red-2);
	/*background-color: var(--neutral-1);*/
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.engineering-section .points .point {
		/*padding-left: var(--space-50);*/
	}
	.engineering-section .points .point:before {
		width: 26px;
		height: 26px;
	}
}
@media( min-width: 1480px ) {
	.engineering-section .points .point:before {
		width: 30px;
		height: 30px;
	}
}

/* -- Engineering Section - Concrete Overwrites -- */

.engineering-section.concrete .film {
	position: relative;
}

.engineering-section.concrete .infographic {
	padding: var(--space-25) 0;
}

@media( min-width: 640px )  {
	.engineering-section.concrete .row-2  {
		padding-top:  var(--space-100);
	}

	.engineering-section.concrete .film .building-3d-2 {
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: auto;
		z-index: 1;
	}

	.engineering-section.concrete .infographic {
		padding: 0 var(--space-25);
	}
}
@media( min-width: 1040px ) {
	.engineering-section.concrete .building-3d-1 {
		padding-left: var(--space-25);
	}

	.engineering-section.concrete .infographic {
		padding: 0 var(--space-50);
	}
}
@media( min-width: 1480px ) {}


/* -- Engineering Section - Railing Overwrites -- */

.engineering-section.railing .row-1,
.engineering-section.railing .row-3 {
	position: relative;
	z-index: 2;
}

.engineering-section.railing .row-2 {
	position: relative;
	z-index: 1;
}

.engineering-section.railing .row-3 .film  {
	padding-top: var(--space-min);
}

.engineering-section.railing .row-3 .bis-logo  {
	padding-top: var(--space-min);
}

@media( min-width: 640px )  {
	.engineering-section.railing .row-1  {
		direction: rtl;
	}

	.engineering-section.railing .row-1 .columns {
		direction: ltr;
	}

	.engineering-section.railing .row-1 .points {
		padding-right: var(--space-50);
	}

	.engineering-section.railing .row-2 {
		margin-top: calc(var(--space-100) * -1 );
	}

	.engineering-section.railing .row-3 .film  {
		padding-top: 0;
	}

	.engineering-section.railing .row-3 .bis-logo  {
		padding-top: 0;
		padding-left: var(--space-50);
	}
}
@media( min-width: 1040px ) {
	.engineering-section.railing .row-1 .heading {
		margin-right: calc( var(--space-100) * 1 );
	}
}
@media( min-width: 1480px ) {
	.engineering-section.railing .row-1 .heading {
		margin-right: calc( var(--space-100) * 1 );
	}
}


/* -- Engineering Section - Railing Overwrites -- */

.engineering-section.fire .row-1 .points  {
	position: relative;
}

.engineering-section.fire .row-1 .points .smoke-detector,
.engineering-section.fire .row-1 .points .fire-sprinkler {
	padding: 0 var(--space-50);
}

.engineering-section.fire .row-3 .film  {
	padding-top: var(--space-min);
}

.engineering-section.fire .row-3 .sprinkler-bulb {
	padding-top: var(--space-min);
}
.engineering-section.fire .row-3 .sprinkler-bulb img {
	width: 160px;
}

@media( min-width: 640px )  {
	.engineering-section.fire .row-1 .points .fire-sprinkler {
		position: absolute;
		top: 0;
		right: 100%;
		width: 100%;
		height: auto;
	}

	.engineering-section.fire .row-3 .film  {
		padding-top: 0;
	}

	.engineering-section.fire .row-3 .sprinkler-bulb {
		padding-top: 0;
		padding-left: var(--space-50);
	}
	.engineering-section.fire .row-3 .sprinkler-bulb img {
		width: 100px;
	}
}
@media( min-width: 1040px ) {
	.engineering-section.fire .row-1 .points .smoke-detector,
	.engineering-section.fire .row-1 .points .fire-sprinkler {
		padding: 0 var(--space-25);
	}

	.engineering-section.fire .row-1 .points .smoke-detector {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: auto;
	}

	.engineering-section.fire .row-1 .points.points-2 {
		margin-top: calc( var(--space-100) * 5);
	}
	.engineering-section.fire .row-3 .sprinkler-bulb img {
		width: 180px;
	}
}
@media( min-width: 1480px ) {
	.engineering-section.fire .row-1 .points.points-2 {
		margin-top: calc( var(--space-100) * 4);
	}

	.engineering-section.fire .row-3 .sprinkler-bulb img {
		width: 260px;
	}
}





/*
 *	Plans Section
 */

.plans-section {}

.plans-section .plans .plan .plan-viewer {
	position: relative;
	display: block;
	z-index: 1;
	width: 100%;
	height: auto;
	padding-bottom: 75%;
	background-color: var(--light);
}
.plans-section .plans .plan .plan-viewer iframe.plan-embed {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.plans-section .plans .plan .plan-viewer + .help-message {
	display: none;
}

@media( orientation: portrait ) and ( max-width: 639px ) {
	.plans-section .plans .plan .plan-viewer:not(.hidden) + .help-message {
		display: block;
	}
}

@media( max-width: 1039px ) {
	.plans-section .plans .plan .plan-viewer {
		min-width: 100%;
		width: calc(100vw - var(--space-50));
		padding-bottom: calc( (100vw - var(--space-100)) * 0.75 );
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

@media( orientation: landscape ) and ( max-width: 1039px ) {
	.plans-section .plans .plan .plan-viewer {
		width: calc(100vw - var(--space-150));
		padding-bottom: 100vh;
	}
}



/*
 *	Amenities Section
 */

.amenities-section {}

.amenities-section .amenities .amenitie .points {
	padding-top: var(--space-25);
}
.amenities-section .amenities .amenitie .points img {
	width: 32px;
}

@media( min-width: 640px )  {
	.amenities-section .amenities .amenitie .points {
		columns: 2;
		column-gap: var(--space-25);
	}
}
@media( min-width: 1040px ) {
	.amenities-section .amenities .amenitie .points {
		padding-top: 0;
		padding-left: var(--space-25);
	}
}
@media( min-width: 1480px ) {}





/*
 *	Amenities Section
 */

.updates-section {}

.updates-section .updates .update .update-featured {
	padding-bottom: var(--space-min);
}

.updates-section .updates .update .update-featured .image {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	font-size: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.updates-section .updates .update .update-gallery {
	position: relative;
	font-size: 0;
}

.updates-section .updates .update .update-gallery .icon-button.zoom {
	background-color: var(--dark);
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	pointer-events: none;
}

.updates-section .updates .update .update-gallery .image-container {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding-bottom: var(--space-min);
}

.updates-section .updates .update .update-gallery .image-container:nth-child(2n+1) {
	padding-right: calc( var(--space-min) / 2 );
}

.updates-section .updates .update .update-gallery .image-container:nth-child(2n) {
	padding-left: calc( var(--space-min) / 2 );
}

.updates-section .updates .update .update-gallery .image {
	position: relative;
	width: 100%;
	padding-bottom: 71.95%;
	font-size: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@media( min-width: 640px )  {
	.updates-section .updates .update .update-featured {
		padding-bottom: calc( var(--space-min) * 1.5 );
	}

	.updates-section .updates .update .update-gallery .image-container {
		padding-bottom: calc( var(--space-min) * 1.5 );
	}

	.updates-section .updates .update .update-gallery .image-container:nth-child(3n+1) {
		padding-left: 0;
		padding-right: 0;
		padding-right: calc( var(--space-min) / 1 );
	}

	.updates-section .updates .update .update-gallery .image-container:nth-child(3n+2) {
		padding-left: 0;
		padding-right: 0;
		padding-left: calc( var(--space-min) / 2 );
		padding-right: calc( var(--space-min) / 2 );
	}

	.updates-section .updates .update .update-gallery .image-container:nth-child(3n) {
		padding-left: 0;
		padding-right: 0;
		padding-left: calc( var(--space-min) / 1 );
	}
}
@media( min-width: 1040px ) {
	.updates-section .updates .update .update-gallery {
		padding-left: calc( var(--space-min) * 1.5 );
	}
}

@media( min-width: 1480px ) {}




/*
 *	Tab Menu
 */

.tab-menu {
	position: relative;
	display: inline-block;
	font-size: 0;
	border: 0px solid var(--neutral-1);
	border-bottom-width: 2px;
}

.fill-dark .tab-menu {
	border: 0px solid var(--neutral-4);
	border-bottom-width: 2px;
}

.tab-button {
	display: inline-block;
	cursor: pointer;
	padding: 0 var(--space-25);
	line-height: var(--space-25);
	position: relative;
}

.tab-button:after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 50%;
	height: 2px;
	width: 0;
	transform: translateX(-50%);
	transition: width .4s ease-out;
}
.tab-button:hover:after {
	width: 100%;
	background-color: var(--neutral-4);
}
.tab-button.active:after {
	width: 100%;
	background-color: var(--red-2) !important;
}

.fill-dark .tab-menu .tab-button:hover:after {
	background-color: var(--neutral-2);
}

.tab-button:focus { outline: none; }

.tab-button.tab-button-large {}

.tab-button.active {
	color: var(--red-2);
}

.select-menu {
	position: relative;
	z-index: 1;
	margin-bottom: var(--space-min);
	padding-right: calc( (var(--space-75)/2) + var(--space-75) );
	background-image: url('../../media/icon/icon-select-menu.svg');
	background-repeat: no-repeat;
	background-size: var(--space-75);
	background-position: right top !important; /* Overwrite Hover background-position animation from .button:hover; */
	border: none !important; /* Overwrite Focus border-bottom from select:focus; */
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* -- Affiliates Carousel Menu Overwrites -- */
.affiliates-carousel-menu {}

/* -- Plans Menu Overwrites -- */

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.plans .tab-button:hover {
		background-color: var(--black);
	}

	.plans-menu-1 {
		padding-top: var(--space-75);
		text-align: right;
	}
	.plans-menu-1 .tab-menu {
		border-bottom-width: 0;
		border-right-width: 2px;
		width: 100%;
		white-space: pre;
	}

	.plans-menu-1 .tab-button {
		padding: 0 var(--space-min);
		line-height: var(--space-50);
	}

	.plans-menu-1 .tab-button:after {
		content: '';
		position: absolute;
		top: 50%;
		left: auto;
		right: -2px;
		bottom: auto;
		height: 0;
		width: 2px;
		transform: translateY(-50%);
		transition: height .4s ease-out;
	}

	.plans-menu-1 .tab-button:hover:after {
		height: var(--space-50);
	}

	.plans-menu-1 .tab-button.active:after {
		height: var(--space-50);
	}

	.plan {
		position: relative;
		padding-top: var(--space-75);
		padding-left: var(--space-25);
	}

	.plans-menu-2 {
		position: absolute;
		top: 0;
		left: var(--space-25);
		width: auto;
		height: auto;
	}

	.plans-menu-2:before {
		content: '';
		position: absolute;
		bottom: 1px;
		left: calc( var(--space-25) * -1 );
		width: 14px;
		height: 14px;
		background-image: url(../../media/icon/icon-plus-neutral-4.svg);
		background-repeat: no-repeat;
		background-position: center center;
		transform: translate(-50%,50%);
	}

	.plans-menu-2 .tab-button {
		padding: var(--space-min) var(--space-25);
		line-height: var(--space-25);
	}
}
@media( min-width: 1480px ) {}


/* -- Amenities Menu Overwrites -- */

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.amenities .tab-button:hover {
		background-color: var(--black);
	}

	.amenities-menu-1 {
		padding-top: var(--space-75);
		text-align: right;
	}
	.amenities-menu-1 .tab-menu {
		border-bottom-width: 0;
		border-right-width: 2px;
		width: 100%;
		white-space: pre;
	}

	.amenities-menu-1 .tab-button {
		padding: 0 var(--space-min);
		line-height: var(--space-50);
	}

	.amenities-menu-1 .tab-button:after {
		content: '';
		position: absolute;
		top: 50%;
		left: auto;
		right: -2px;
		bottom: auto;
		height: 0;
		width: 2px;
		transform: translateY(-50%);
		transition: height .4s ease-out;
	}

	.amenities-menu-1 .tab-button:hover:after {
		height: var(--space-50);
	}

	.amenities-menu-1 .tab-button.active:after {
		height: var(--space-50);
	}

	.amenitie {
		position: relative;
		padding-top: var(--space-75);
		padding-left: var(--space-25);
	}

	.amenities-menu-2 {
		position: absolute;
		top: 0;
		left: var(--space-25);
		width: auto;
		height: auto;
	}

	.amenities-menu-2:before {
		content: '';
		position: absolute;
		bottom: 1px;
		left: calc( var(--space-25) * -1 );
		width: 14px;
		height: 14px;
		background-image: url(../../media/icon/icon-plus-neutral-4.svg);
		background-repeat: no-repeat;
		background-position: center center;
		transform: translate(-50%,50%);
	}

	.amenities-menu-2 .tab-button {
		padding: var(--space-min) var(--space-25);
		line-height: var(--space-25);
	}
}
@media( min-width: 1480px ) {}


/* -- Updates Menu Overwrites -- */

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.updates .tab-button:hover {
		background-color: var(--black);
	}

	.updates-menu-1 {
		padding-top: var(--space-75);
		text-align: right;
	}
	.updates-menu-1 .tab-menu {
		border-bottom-width: 0;
		border-right-width: 2px;
		width: 100%;
		white-space: pre;
	}

	.updates-menu-1 .tab-button {
		padding: 0 var(--space-min);
		line-height: var(--space-50);
	}

	.updates-menu-1 .tab-button:after {
		content: '';
		position: absolute;
		top: 50%;
		left: auto;
		right: -2px;
		bottom: auto;
		height: 0;
		width: 2px;
		transform: translateY(-50%);
		transition: height .4s ease-out;
	}

	.updates-menu-1 .tab-button:hover:after {
		height: var(--space-50);
	}

	.updates-menu-1 .tab-button.active:after {
		height: var(--space-50);
	}

	.update {
		position: relative;
		padding-top: var(--space-75);
		padding-left: var(--space-25);
	}

	.updates-menu-2 {
		position: absolute;
		top: 0;
		left: var(--space-25);
		width: auto;
		height: auto;
	}

	.updates-menu-2:before {
		content: '';
		position: absolute;
		bottom: 1px;
		left: calc( var(--space-25) * -1 );
		width: 14px;
		height: 14px;
		background-image: url(../../media/icon/icon-plus-neutral-4.svg);
		background-repeat: no-repeat;
		background-position: center center;
		transform: translate(-50%,50%);
	}

	.updates-menu-2 .tab-button {
		padding: var(--space-min) var(--space-25);
		line-height: var(--space-25);
	}
}
@media( min-width: 1480px ) {}


/*
 *	Events Section
 */

.events-section {}

.events-section .graphic {
	padding-bottom: var(--space-min);
}

@media( min-width: 640px )  {
	.events-section .graphic {
		padding-bottom: 0;
		padding-right: var(--space-50);
	}
}
@media( min-width: 1040px ) {
	.events-section .info .description {
		columns: 2;
		column-gap: var(--space-25);
	}
}
@media( min-width: 1480px ) {
	.events-section .graphic {
		padding-right: var(--space-25);
	}
}

/* -- Events Carousel -- */

.events .carousel-list .carousel-list-item .carousel-card {}

.events .carousel-list .carousel-list-item .carousel-card .thumbnail {
	position: absolute;
	z-index: 1;
	background-color: peach-puff;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding-bottom: 121.21211%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}

.events .carousel-list .carousel-list-item .carousel-card .thumbnail:after {
	content: '';
	display: block;
	width: 100%;
	height: var(--space-50);
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: -1px;
	background-image: linear-gradient(0deg, rgba(38,43,53,1) 10%, rgba(38,43,53,0) 100%);
}

.events .carousel-list .carousel-list-item.youtube .carousel-card .thumbnail:before {
	content: '';
	display: block;
	width: var(--space-100);
	height: var(--space-100);
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../../media/icon/icon-youtube.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
	
.events .carousel-list .carousel-list-item .carousel-card .info {
	z-index: 3;
	height: 130px;
	overflow: hidden;
}

.events .carousel-list .carousel-list-item .carousel-card {
	min-height: calc( 8.2 * var(--space-100) );
}

@media( min-width: 640px )  {
	.events .carousel-list .carousel-list-item .carousel-card .info {
		height: 140px;
	}
}
@media( min-width: 1040px ) {
	.events .carousel-list .carousel-list-item .carousel-card .info {
		height: 180px;
	}

	.events .carousel-list .carousel-list-item .carousel-card {
		min-height: calc( 6.4 * var(--space-100) );
	}

	.events .carousel-list .carousel-list-item.youtube .carousel-card .thumbnail:before {
		width: var(--space-75);
		height: var(--space-75);
	}
}
@media( min-width: 1480px ) {
	.events .carousel-list .carousel-list-item .carousel-card .info {
		height: 205px;
	}

	.events .carousel-list .carousel-list-item .carousel-card .info .title {
		font-size: 2.8rem;
	}

	.events .carousel-list .carousel-list-item .carousel-card {
		min-height: calc( 4.8 * var(--space-100) );
	}

	.events .carousel-list .carousel-list-item .carousel-card .thumbnail:before {
		width: var(--space-50);
		height: var(--space-50);
	}
}








/*
 * Action Site Visit
 */

.action-site-visit {}

.action-site-visit .intro {
	padding-bottom: var(--space-min);
}

.action-site-visit .action-form {}

.action-site-visit .action-form .form-row{
	padding-bottom: var(--space-min);
}

@media( min-width: 640px )  {
	.action-site-visit .action-form {
		padding-top: 37.5px;
	}
	.action-site-visit .action-form .form-row {
		padding-right: var(--space-min);
	}
}
@media( min-width: 1040px ) {
	.action-site-visit .action-form {
		padding: 0 var(--space-25);
		padding-top: 60px;
	}
	.action-site-visit .action-form .form-row {
		padding-bottom: var(--space-25);
		padding-left: var(--space-25);
		padding-right: 0;
	}
}
@media( min-width: 1480px ) {
	.action-site-visit .action-form {
		padding-top: 75px;
	}
}





/*
 *	Spotlight
 */

.spotlight .carousel-list .carousel-list-item .carousel-card {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}

.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box {
	height: 126px;
	overflow: hidden;
}
.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box .title {
	line-height: 20px;
}

.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box .title:after {
	content: '\00a0';
}
	
.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box .description {
	line-height: 20px;
}

.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .tag span {
	display: inline-block;
	line-height: 1;
	padding: 3px 5px;
	margin-top: 5px;
}


.spotlight .unlock-icon {
	width: 120px;
	opacity: 0.25;
	padding-bottom: var(--space-min);
}

.spotlight .unlock-icon img {
	transform: translateX(-20%);
}

.spotlight .unlock-form {}

.spotlight .unlock-form .input-field,
.spotlight .unlock-form input[type="email"],
.spotlight .unlock-form input[type="number"],
.spotlight .unlock-form input[type="search"],
.spotlight .unlock-form input[type="text"],
.spotlight .unlock-form input[type="tel"],
.spotlight .unlock-form input[type="url"],
.spotlight .unlock-form input[type="password"],
.spotlight .unlock-form input[type="date"],
.spotlight .unlock-form textarea,
.spotlight .unlock-form select {
	color: var(--light);
}

.spotlight .unlock-form .input-field:focus,
.spotlight .unlock-form input[type="email"]:focus,
.spotlight .unlock-form input[type="number"]:focus,
.spotlight .unlock-form input[type="search"]:focus,
.spotlight .unlock-form input[type="text"]:focus,
.spotlight .unlock-form input[type="tel"]:focus,
.spotlight .unlock-form input[type="url"]:focus,
.spotlight .unlock-form input[type="password"]:focus,
.spotlight .unlock-form input[type="date"]:focus,
.spotlight .unlock-form textarea:focus,
.spotlight .unlock-form select:focus {
	border-bottom: solid 1px var(--dark);
}

.spotlight .unlock-form .form-row {
	padding-top: var(--space-min);
}

.spotlight .unlock-form .form-row:focus-within span.label { color: var(--dark); }

.spotlight .carousel-list .carousel-list-item .carousel-card {
	min-height: calc( 9.4 * var(--space-100) );
}

@media( min-width: 640px )  {
}
@media( min-width: 1040px ) {
	.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box {
		height: 140px;
	}

	.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box .title {
		font-size: 2.2rem;
		line-height: 23px;
	}
		
	.spotlight .carousel-list .carousel-list-item:not(:first-child) .info .info-box .description {
		font-size: 1.6rem;
		line-height: 21px;
	}

	.spotlight .unlock-icon {
		width: 170px;
		padding-bottom: var(--space-25);
	}

	.spotlight .unlock-form .input-field:focus,
	.spotlight .unlock-form input[type="email"]:focus,
	.spotlight .unlock-form input[type="number"]:focus,
	.spotlight .unlock-form input[type="search"]:focus,
	.spotlight .unlock-form input[type="text"]:focus,
	.spotlight .unlock-form input[type="tel"]:focus,
	.spotlight .unlock-form input[type="url"]:focus,
	.spotlight .unlock-form input[type="password"]:focus,
	.spotlight .unlock-form input[type="date"]:focus,
	.spotlight .unlock-form textarea:focus,
	.spotlight .unlock-form select:focus {
		border-width: 2px;
	}

	.spotlight .carousel-list .carousel-list-item .carousel-card {
		min-height: calc( 7 * var(--space-100) );
	}
}

@media( min-width: 1480px ) {
	.spotlight .carousel-list .carousel-list-item .carousel-card {
		min-height: calc( 5.4 * var(--space-100) );
	}

	.spotlight .unlock-icon {
		width: 140px;
		padding-bottom: var(--space-min);
	}
}


